<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="304Fix" content="safari-fix">
    <meta name="fragment" content="!" />
    <title>新建会诊</title>
    <link rel="stylesheet" type="text/css" href="../../lib/css/mobiscroll.custom-3.0.0-beta6.min.css">
    <link rel="stylesheet" type="text/css" href="../../lib/css/common.css">
    <link rel="stylesheet" type="text/css" href="css/add.css">
</head>
<body>
    <div class="wrap" id="app">
        <!-- {{$data.jobsDict|json}} -->
        <div class="content">
            <div class="step">
                <div class="item-header">
                    <div class="dib va-mid headers">
                        <div class="line dib va-mid"></div>
                        <div class="header-name">会诊目的及方式</div>
                    </div>
                </div>
                <div class="step-body">
                    <div class="items">
                        <div class="items-name tr">会诊目的</div>
                        <div class="items-val dib va-mid pr a-val">
                            <div class="diy_select pp-list dib va-mid pr">
                                <div class="select-text ">
                                    <input type="hidden" name="" id="a" class="diy_select_input"/>
                                    <div class="diy_select_txt diy_select_btn"></div>
                                </div>
                                <div class="select-option">
                                    <ul class="diy_select_list pp">
                                        <li value="{{purpost.itemcode}}" v-for="purpost in purpostDict" @click="pkVal('purpostDict',purpost)">{{purpost.itemname}}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="require">*</div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="items-name tr">会诊选择</div>
                        <div class="items-group-val dib va-top">
                            <div class="items-val">
                                <div class="diy_select to-hosp-list dib va-mid pr">
                                    <div class="select-text ">
                                        <input type="hidden" name="" id="a" class="diy_select_input"/>
                                        <div class="diy_select_txt diy_select_btn">会诊医院</div>
                                    </div>
                                    <div class="select-option">
                                        <ul class="diy_select_list to-hosp">
                                            <li v-for="phostp in parentHostp" @click="pkVal('parentHostp',phostp)">{{phostp.orgname}}</li>
                                        </ul>
                                    </div>
                                    <div class="require">*</div>
                                </div>
                            </div>
                            <div class="items-val">
                                <div class="diy_select to-dept-list dib va-mid pr">
                                    <div class="select-text ">
                                        <input type="hidden" name="" id="a" class="diy_select_input"/>
                                        <div class="diy_select_txt diy_select_btn">会诊科室</div>
                                    </div>
                                    <div class="select-option">
                                        <ul class="diy_select_list to-dept">
                                            <li v-for="dept in depts" @click="pkVal('depts',dept)">{{dept.deptname}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="items-val">
                                <div class="diy_select doc-list dib va-mid">
                                    <div class="select-text ">
                                        <input type="hidden" name="" id="a" class="diy_select_input"/>
                                        <div class="diy_select_txt diy_select_btn">会诊医生</div>
                                    </div>
                                    <div class="select-option">
                                        <ul class="diy_select_list doc">
                                            <li v-for="doctor in doctors" @click="pkVal('doctors',doctor)">{{doctor.username}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="items date-group">
                        <div class="items-name tr bdate">拟预约时间日期</div>
                        <div class="items-val dib va-mid pr">
                            <input id="book-date" readonly />
                            <div class="require">*</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step step-page1">
                <div class="item-header">
                    <div class="dib va-mid headers">
                        <div class="line dib va-mid"></div>
                        <div class="header-name">患者基本信息</div>
                    </div>
                </div>
                <div class="step-body">
                    <div class="items">
                        <div class="items-name tr">姓名</div>
                        <div class="items-val dib va-mid pr">
                            <input type="text" v-model="addOrder.username" lazy/>
                            <div class="require">*</div>
                            <img src="../../image/consultation/s_pat@2x.png" class="pat-more" @click="getPatients">
                        </div>
                    </div>
                    <div class="items">
                        <div class="items-name tr">性别</div>
                        <div class="items-val dib va-mid pr">
                            <div class="diy_select sex-list dib va-mid">
                                <div class="select-text ">
                                    <input type="hidden" name="" id="a" class="diy_select_input"/>
                                    <div class="diy_select_txt diy_select_btn"></div>
                                </div>
                                <div class="select-option">
                                    <ul class="diy_select_list sex">
                                        <li @click="pkGender(0)">男</li>
                                        <li @click="pkGender(1)">女</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="require">*</div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="items-name tr">年龄</div>
                        <div class="items-val dib va-mid pr">
                            <input type="number" v-model="addOrder.age" v-on:keyup="setBirth"/>
                            <div class="require">*</div>
                        </div>
                    </div>
                    <div class="items pr">
                        <div class="items-name tr">出生日期</div>
                        <div class="items-val dib va-mid pr">
                            <input id="birth" readonly v-model="addOrder.dateofbirth" @click="pkBirth"/>
                            <div class="require">*</div>
                        </div>
                        <div class="more-div" v-on:click="userShow()" v-bind:class="{'less':moreUserInfo}">
                            <div class="more"></div>
                        </div>
                    </div>
                    <div class="more-group" v-show="moreUserInfo" v-cloak>
                        <div class="items">
                            <div class="items-name tr">民族</div>
                            <div class="items-val dib va-mid">
                                <div class="diy_select navt-list dib va-mid">
                                    <div class="select-text ">
                                        <input type="hidden" name="" id="a" class="diy_select_input"/>
                                        <div class="diy_select_txt diy_select_btn"></div>
                                    </div>
                                    <div class="select-option">
                                        <ul class="diy_select_list navt">
                                            <li v-for="nat in nation" @click="pkVal('nation',nat)">{{nat.nationname}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="items-name tr">婚姻状态</div>
                            <div class="items-val dib va-mid">
                                <div class="diy_select marr-list dib va-mid">
                                    <div class="select-text ">
                                        <input type="hidden" name="" id="a" class="diy_select_input"/>
                                        <div class="diy_select_txt diy_select_btn"></div>
                                    </div>
                                    <div class="select-option">
                                        <ul class="diy_select_list marr">
                                            <li v-for="marr in marrDict" @click="pkVal('marrDict',marr)">{{marr.itemname}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="items-name tr">省市区</div>
                            <div class="items-group-val dib va-top">
                                <div class="items-val">
                                    <div class="diy_select provs-list dib va-mid">
                                        <div class="select-text ">
                                            <input type="hidden" name="" id="a" class="diy_select_input"/>
                                            <div class="diy_select_txt diy_select_btn"></div>
                                        </div>
                                        <div class="select-option">
                                            <ul class="diy_select_list provs">
                                                <li v-for="prov in provs" @click="pkVal('provs',prov)">{{prov.areaname}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dib va-mid">省</div>
                                </div>
                                <div class="items-val">
                                    <div class="diy_select city-list dib va-mid">
                                        <div class="select-text ">
                                            <input type="hidden" name="" id="a" class="diy_select_input"/>
                                            <div class="diy_select_txt diy_select_btn"></div>
                                        </div>
                                        <div class="select-option">
                                            <ul class="diy_select_list city">
                                                <li v-for="ct in city" @click="pkVal('city',ct)">{{ct.areaname}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dib va-mid">市</div>
                                </div>
                                <div class="items-val">
                                    <div class="diy_select areas-list dib va-mid">
                                        <div class="select-text ">
                                            <input type="hidden" name="" id="a" class="diy_select_input"/>
                                            <div class="diy_select_txt diy_select_btn"></div>
                                        </div>
                                        <div class="select-option">
                                            <ul class="diy_select_list areas">
                                                <li value="{{ar.areacode}}" v-for="ar in area" @click="pkVal('area',ar)">{{ar.areaname}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dib va-mid">区</div>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="items-name tr">住址</div>
                            <div class="items-val dib va-mid">
                                <input type="text" v-model="addOrder.address" lazy/>
                            </div>
                        </div>
                        <div class="items">
                            <div class="items-name tr">职业</div>
                            <div class="items-val dib va-mid">
                                <div class="diy_select job-list dib va-mid">
                                    <div class="select-text ">
                                        <input type="hidden" name="" id="a" class="diy_select_input"/>
                                        <div class="diy_select_txt diy_select_btn"></div>
                                    </div>
                                    <div class="select-option">
                                        <ul class="diy_select_list job">
                                            <li value="{{job.itemcode}}" v-for="job in jobsDict" @click="pkVal('jobsDict',job)">{{job.itemname}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="items">
                            <div class="items-name tr">工作单位</div>
                            <div class="items-val dib va-mid">
                                <input type="text" v-model="addOrder.commpany" lazy/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 第二步 -->
            <div class="step step-page2">
                <div class="item-header">
                    <div class="dib va-mid headers">
                        <div class="line dib va-mid"></div>
                        <div class="header-name">病历及检查信息</div>
                    </div>
                </div>
                <div class="step-body">
                    <div class="items">
                        <div class="items-name tr va-top">初步诊断</div>
                        <div class="items-val dib va-top ps-val first pr">
                            <textarea class="txt normal-txt" v-model="addOrder.clinicaldiagnosis" lazy></textarea>
                            <div class="require">*</div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="items-name tr va-top ar-1">病历信息</div>
                        <div class="items-val ps-val dib va-top others pr">
                            <textarea class="txt" v-model="" lazy></textarea>
                            <div class="ps-files">
                                <ul class="ar-1">
                                    <li v-for="up in upLoads" data-href="up.ImagePath">
                                        <div v-bind:class="{'file-img': fileType.image, 'file-video': fileType.video, 'file-file': fileType.file}">{{up.description}}<span class="del">删除</span></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pa add-files">
                                <div class="add-menu" @click="showUpload(1)" v-if="!menuBtn.item1" v-cloak></div>
                                <div class="add-close" @click="closeUpload(1)" v-else="menuBtn.item1" v-cloak></div>
                            </div>
                            <ul class="pa up-menus" v-show="menuBtn.item1" v-cloak>
                                <li><div class="up-file" @click="upFile(upLoads)"></div></li>
                                <li><div class="up-img" @click="upImg(upLoads)"></div></li>
                                <li><div class="up-video" @click="upVideo(upLoads)"></div></li>
                            </ul>
                        </div>
                    </div>
                    <div class="items pr">
                        <div class="items-name tr va-top ar-2">检查检验</div>
                        <div class="items-val ps-val dib va-top others pr">
                            <textarea class="txt"></textarea>
                            <div class="ps-files">
                                <ul class="ar-2">
                                    <li v-for="up in upLoads2" data-href="up.ImagePath">
                                        <div v-bind:class="{'file-img': fileType.image, 'file-video': fileType.video, 'file-file': fileType.file}">{{up.description}}<span class="del">删除</span></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="pa add-files">
                                <div class="add-menu" @click="showUpload(2)" v-if="!menuBtn.item2" v-cloak></div>
                                <div class="add-close" @click="closeUpload(2)" v-else="menuBtn.item2"  v-cloak></div>
                            </div>
                            <ul class="pa up-menus" v-show="menuBtn.item2" v-cloak>
                                <li><div class="up-file" @click="upFile(upLoads2)"></div></li>
                                <li><div class="up-img" @click="upImg(upLoads2)"></div></li>
                                <li><div class="up-video" @click="upVideo(upLoads2)"></div></li>
                            </ul>
                        </div>
                        <div class="more-div" v-on:click="detailShow()" v-bind:class="{'less':moreDetail}">
                            <div class="more"></div>
                        </div>
                    </div>
                    <div class="more-group" v-show="moreDetail" v-cloak>
                        <div class="items">
                            <div class="items-name tr va-top ar-3">家族史</div>
                            <div class="items-val ps-val dib va-top others pr">
                                <textarea class="txt"></textarea>
                                <div class="ps-files">
                                    <ul class="ar-3">
                                        <!-- <li>
                                            <div class="file-img"></div>
                                        </li>
                                        <li>
                                            <div class="file-video"></div>
                                        </li>
                                        <li>
                                            <div class="file-file"></div>
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="pa add-files">
                                    <div class="add-menu" @click="showUpload(3)" v-if="!menuBtn.item3" v-cloak></div>
                                    <div class="add-close" @click="closeUpload(3)" v-if="menuBtn.item3" v-cloak></div>
                                </div>
                                <ul class="pa up-menus" v-show="menuBtn.item3" v-cloak>
                                    <li><div class="up-file"></div></li>
                                    <li><div class="up-img"></div></li>
                                    <li><div class="up-video"></div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="items">
                            <div class="items-name tr va-top ar-4">既往史</div>
                            <div class="items-val ps-val dib va-top others pr">
                                <textarea class="txt"></textarea>
                                <div class="ps-files">
                                    <ul class="ar-4">
                                        <!-- <li>
                                            <div class="file-img"></div>
                                        </li>
                                        <li>
                                            <div class="file-video"></div>
                                        </li>
                                        <li>
                                            <div class="file-file"></div>
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="pa add-files">
                                    <div class="add-menu" @click="showUpload(4)" v-if="!menuBtn.item4" v-cloak></div>
                                    <div class="add-close" @click="closeUpload(4)" v-if="menuBtn.item4" v-cloak></div>
                                </div>
                                <ul class="pa up-menus" v-show="menuBtn.item4" v-cloak>
                                    <li><div class="up-file"></div></li>
                                    <li><div class="up-img"></div></li>
                                    <li><div class="up-video"></div></li>
                                </ul>
                            </div>
                        </div>
                        <div class="items">
                            <div class="items-name tr va-top ar-5">其他说明</div>
                            <div class="items-val ps-val dib va-top others pr">
                                <textarea class="txt"></textarea>
                                <div class="ps-files">
                                    <ul class="ar-5">
                                        <!-- <li>
                                            <div class="file-img"></div>
                                        </li>
                                        <li>
                                            <div class="file-video"></div>
                                        </li>
                                        <li>
                                            <div class="file-file"></div>
                                        </li> -->
                                    </ul>
                                </div>
                                <div class="pa add-files">
                                    <div class="add-menu" @click="showUpload(5)" v-if="!menuBtn.item5" v-cloak></div>
                                    <div class="add-close" @click="closeUpload(5)" v-if="menuBtn.item5" v-cloak></div>
                                </div>
                                <ul class="pa up-menus" v-show="menuBtn.item5" v-cloak>
                                    <li><div class="up-file"></div></li>
                                    <li><div class="up-img"></div></li>
                                    <li><div class="up-video"></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="submit-btn" id="show-modal" @click="submitOrder()"><img src="../../image/consultation/s_save@2x.png">保存提交</div>
            <div class="cancel-btn"><img src="../../image/consultation/cancel@2x.png">取消保存</div>
        </div>
        <div class="mask" v-show="mask" v-cloak>
            <div v-if="ymodules == 1" class="tip">提交失败!</div>
            <div v-else="ymodules == 2" class="errors">
                <div class="errors-header">错误提示</div>
                <ul id="error-tip"></ul>
                <div class="close">确定</div>
            </div>
            <div v-else="ymodules == 3" class="pat-box">
                <div class="box-header">患者</div>
                <div class="box-content">
                    <ul id="dept-list">
                        <li v-for="pat in patients" @click="pkVal('patients',pat)">
                            <label>
                                <div class="radios-bg" v-bind:class="{'radios-bg-selected': pkRadio}"></div>
                                <input type="radio" hidden="hidden">
                                <div class="dib">{{pat.bedid}}(
                                    <span>{{pat.bedname}},</span>
                                    <span v-if="pat.gender == '0'">男</span>
                                    <span v-else>女</span>)
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="box-footer">
                    <div class="submit2" @click="closeMask(1)"><img class="yes" src="../../image/referral/s_finish@2x.png">确定</div>
                    <div class="cancel2" @click="closeMask(0)"><img src="../../image/referral/s_cancel@2x.png">取消</div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="../../lib/js/vue-1.0.28.js"></script>
<!-- <script type="text/javascript" src="../../lib/js/vue-2.1.10.js"></script> -->
<script type="text/javascript" src="../../lib/zepto.min.js"></script>
<script type="text/javascript" src="../../lib/fastclick.min.js"></script>
<script type="text/javascript" src="../../lib/js/mobiscroll.custom-3.0.0-beta6.min.js"></script>
<script type="text/javascript" src="../../lib/js/axios.min.js"></script>
<!-- <script type="text/javascript" src="../../lib/js/YXBridge.js"></script> -->
<script type="text/javascript" src="../../lib/common.js"></script>
<script type="text/javascript" src="../../lib/select.js"></script>
<script type="text/javascript" src="js/add-sel.js"></script>
</body>
</html>